# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env

# Ignore dependency files
*.log
*.db
.DS_Store

# Ignore VS Code settings (if using VS Code)
.vscode/
