fastapi 
uvicorn
streamlit
python-dotenv

# DB Production - For using PostgreSQL,
sqlalchemy 
alembic 
# almebic helps in Version Control for Database Schema & Handles Database Schema Updates
psycopg2-binary 
asyncpg

# Agentic Architecture
langchain 
langgraph 
crewai 
openai 
pydantic
langchain-openai




# this helps in cloning git repos
gitpython